<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "testng-1.0.dtd" >

<suite name="test reports related tests">
    <test name="TestReports">
        <groups>
            <run>
                <include name="test" />
                <exclude name="broken"/>
            </run>
        </groups>
        <classes>
            <class name="TestReports" />


        </classes>

    </test>
    <test name="test">
        <classes>


            <class name="TestNew"/>
            <class name="TestManagerTestNG"/>
        </classes>
    </test>

</suite>